body {
  margin: 1%;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.oven-instance {
  display: flex;
  flex-direction: column;
  justify-content:center ;
}


.oven-name {
  text-align: center;
}


.oven-box {
  margin: 1px;
  display:flex;
  border: blue 2px solid;
  border-radius: 15px;
  background: rgba(130, 235, 235, 0.473);
}


.grid-container {
  margin: 5px;
}


.table {
  
  border-radius:6px;
}

tbody {
  border-radius: 15px;
}


.oven-grid  {
  border-collapse: separate;
  border: solid grey 1px;
  border-radius: 10px;
  border-spacing:0;
}


.oven-info {
  flex-grow: 2;
}


.oven-grid td, .oven-grid th{
  border-color:grey;
  border-top: none;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:0px 10px;
}

td:first-child, th:first-child {
  border-left: none;
}


.oven-cell {
  width: 150px;
}


.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 10%;
}


.add-timer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.timer-wrapper {
  min-width: 105px;
  flex-grow: 2;
}


.actual-timer {
  color: #414756;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: max(1.5vw, 1rem);
}

.actual-timer div {
  background-color: rgba(255, 255, 255, 0.238);
  border-radius: 10px;
  border: 1px solid #414756;
  color: #414756;
  padding: 3px 10px;
  margin: 5px 0 5px 0;
}

div.clock.buttons {
  /* clock and buttons div */
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}



