body {
  margin: 1%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ovens-wrapper {
  display: flex;
}


.grid-container {
  padding: 5px;
}


.table {
  border-radius:15px;
}


.oven-grid  {
  border-collapse:collapse;
  border-radius: 15px;
  border-spacing:0;
}


.oven-grid td{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 10px;
}


.oven-cell {
  max-width: 150px;
}


.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 10%;
}


.add-timer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.actual-timer {
  color: #414756;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: max(1.5vw, 1rem);
}

.actual-timer div {
  background-color: rgba(255, 255, 255, 0.238);
  border-radius: 10px;
  border: 1px solid #414756;
  color: #414756;
  padding: 3px 10px;
  margin: 5px 0 5px 0;
}

div.clock.buttons {
  /* clock and buttons div */
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}



